.name{ 
  text-align: center;
  font-weight: bold;
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .main{
    text-align: center;
    padding: 6rem;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aquamarine;
    
  }

  .main {
    background: linear-gradient(deg, rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0), rgba(1, 65, 255, 0.3));
    background-size: 400% 400%;
  }
  
 




