.name{ 
  text-align: center;
  font-weight: bold;
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .main{
    text-align: center;
    padding: 6rem;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aquamarine;
    
  }




