.name{ 
  text-align: center;
  font-weight: bold;
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .main{
    text-align: center;
    padding: 6rem;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
    
  }

  .main {
    background: linear-gradient(50deg, rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0), rgba(1, 65, 255, 0.3));
    background-size: 200% 400%;
  }

  .grid{
    color: ;
  }
  
 




